{% extends "layout.html" %}
{% block content %}
<h1 class="page_title">About</h1>
    <h1 class="about_title">About Us</h1>
    <p class="p1"><a class="title" href="{{ url_for('home') }}">Dev-Answer</a> is a new and small company, focus on Web Development, algorithms, data structure, data science ...etc for all programming language.</p> 
    <p class="p2">Our goal to give a simple and easy path to the information, or the solution, what does that mean? it's mean you have qustion, issue, or simply you  find trouble while you coding. So you don't know the solution.  All you have to do is come to our website, ask your question, and wait for some one ho had the solution or some one already put the solution in our site.
        by that we can make and manage a community for developer, and grow up by collecting more developer, no matter what's their experience, student.. expert..or beginner.</p>  
    <p class="p3">By healping each other we will all find our succec...</p> 
    <p class="p4">"Dev-Answer team, Have a great day"</p>
{% endblock content %}