{% extends 'layout.html' %}
{% block content %}
  <h1>Ask Questions</h1>
  <p>Here you can Ask Questions for getting help from dev community</p>
        <div class="content-section">
            <form method="POST" action="">
            <label for="title">Title</label>
            <input required type="text" name="title" id="title" class="form-control">
            <label for="question">Describe Your Question</label>
            <textarea name="question" id="question" class="from-control" ></textarea>                
        </div>
        <script>
            CKEDITOR.replace('question');
        </script>
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Ask</button>
{% endblock %}