{% extends 'layout.html' %}
{% block content %}
<h1 class="page_title_ask">{{ page_title }}</h1>
  <p class="diff">{{ legend }}</p>
  <div class="">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <div class="">
                {{ form.title.label(class="label_title") }}<br>
                {% if form.title.errors %}
                    {{ form.title(class="question_title") }}
                    <div class="">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="question_title") }}
                {% endif %}
            </div>
            <div class="tags-container">
                {{ form.category.label(class="label_title") }}<br>
                {{ form.category(class="categorys") }}
            </div>
            <div class="">
                {{ form.content.label(class="label_description") }}
                {% if form.content.errors %}
                    {{ form.content(class="quest_description", id="editor") }}
                    <div class="">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="quest_description", id="editor") }}
                {% endif %}
            </div>
        <div class="button_post">
            <a class="cancel_home" href="{{ url_for('home') }}">Cancel</a>
            {{ form.submit(class="post_quest", value=submit) }}
        </div>
    </form>
</div>    
{% endblock %}