{% extends "layout.html" %}
{% block content %}
<div class="tags_bar">
  <from class="search-box" method="GET" action="search">
    <input type="text" class="search-area" name="query" id="query" placeholder="Search Question..get Answer">
    <button type="submit" class="search-btn">Search</button>
  </from>
  <div class="tags">
    <a class="tag" href="python.html">.Py</a>
    <a class="tag" href="javascrip.html">.Js</a>
    <a class="tag" href="cs.html">.Cs</a>
  </div>
  <button class="ask"><a href="{{ url_for('ask_question') }}">Ask Question</a></button>
</div>
{% for post in posts %}
<div class="post_style">
  <img class="image_home" src="{{ url_for('static', filename='profile_picts/' + post.author.image_file) }}" alt="image_user">
  <h1>{{ post.author.fullname }}</h1><br>
  <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small><p3 class="dash">-</p3><small class="tag_cat">{{ post.category }}</small>
  <h2><a href="{{ url_for('answer', post_id=post.id) }}">{{ post.title }}</a></h2>
  <p><a class="link_post" href="{{ url_for('answer', post_id=post.id) }}">{{ post.content | safe }}</a></p>
</div>
{% endfor %}
{% endblock %}