{% extends "layout.html" %}
{% block content %}
<div class="tags_bar">
  <div class="search-box">
    <input class="search-area" type="text" name="" placeholder="Ask Question...Find Answer">
    <a class="search-btn" href="#">
  <i class="fas fa-search"></i>
    </a>
  </div>
  <div class="tags">
    <a class="tag" href="#">Python</a>
    <a class="tag" href="#">Java Script</a>
    <a class="tag" href="#">Html</a>
    <a class="tag" href="#">Css</a>
  </div>
  <button class="ask"><a href="#">Ask Question</a></button>
</div>
<h1>mohamed idaghdour</h1>
<h3>css padding</h3>
<p>no idea no idea no idea no idea no idea no idea no ideano idea no idea no idea no idea no ideano idea no idea v no idea no idea no idea no idea</p>
<h1>mohamed idaghdour</h1>
<h3>css padding</h3>
<p>no idea no idea no idea no idea no idea no idea no ideano idea no idea no idea no idea no ideano idea no idea v no idea no idea no idea no idea</p>
<h1>mohamed idaghdour</h1>
<h3>css padding</h3>
<p>no idea no idea no idea no idea no idea no idea no ideano idea no idea no idea no idea no ideano idea no idea v no idea no idea no idea no idea</p>
{% endblock content %}