{% extends "layout.html" %}
{% block content %}
<h1 class="page_title">Sign In</h1>
    <div class="sign">
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}
                <h1 class="one">Dev-Answer</h1>
                <h2 class="two">Welcome back</h2>
                <div class="">
                    {% if form.email.errors %}
                    {{ form.email(class="invalid") }}
                    <div class="">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="input", placeholder="E-mail") }}
                {% endif %} 
                </div>
                <div class="">
                    {% if form.password.errors %}
                    {{ form.password(class="invalid") }}
                    <div class="">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="input", placeholder="Password") }}
                {% endif %} 
                </div>
                <div class="">
                    {{ form.submit(class="submit_btn") }}
                </div>
            <div class="s_question">
                <small><a class="_link" href="{{ url_for('reset_request') }}">Forgot password?</a><strong>or</strong><a class="_link" href="{{ url_for('register') }}">Sign up</a></small>
            </div>
        </form>
    </div>    
{% endblock %}