{% extends "layout.html" %}
{% block content %}
<h1 class="page_title">Sign In</h1>
    <div class="sign">
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}
            <h1 class="one">Dev-Answer</h1>
            <h2 class="two">Reset Password</h2>
            <div class="">
                {% if form.password.errors %}
                {{ form.password(class="invalid") }}
                <div class="">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="input", placeholder="The new password") }}
            {% endif %} 
            </div>
            <div class="">
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="invalid") }}
                <div class="">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="input", placeholder="Confirm the new password") }}
            {% endif %} 
            </div>
            <div class="">
                {{ form.submit(class="submit_btn") }}
            </div>
        </form>
    </div>    
{% endblock %}