<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/888518e0b9.js" crossorigin="anonymous"></script>
    {% if title %}
        <title>Dev-Answer | {{ title }}</title>
    {% else %}
        <title>Dev-Answer</title>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo">
            <h1><a class="name" href="home">Dev-Answer</a></h1>
        </div>
        <nav>
            <ul>
                <li><a class="nav" href="home">Home</a></li>
                <li><a class="nav" href="about">About</a></li>
                <li><a class="nav" href="rules">Rules</a></li>
                <li><a class="nav" href="support">Support</a></li>
            </ul>
        </nav>
        <div class="login">
            <button class="log_butt">Sign in</button>
            <button class="log_butt">Sign up</button>
        </div>
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>