@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

*{
    margin: auto;
    padding: auto;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: rgb(199, 199, 199);
}

/*---------aleart messages-------*/


/*---------header style---------*/

header{
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    box-shadow:0px 0px 5px #075757;
}

.logo{
    position: absolute;
    top: 15px;
    left: 4%;
}

.name{
    color: 	#00b3b3;
    text-decoration: none;
    font-family: monospace, sans-serif;
    padding: 10px;
}

.name:hover{
    color: #075757;
}

nav ul{
    position: absolute;
    top: 20px;
    left: 31.5%;
}

nav ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    font-size: 18px;
}

.nav{
    text-align: center;
    width: 80px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    display: block;
    padding: 5px 10px;
    font-family: monospace, sans-serif;
}

.nav:hover{
    text-align: center;
    background-color: #00b3b3;
    color: whitesmoke;
    border: none;
    border-radius: 20px 0 20px 0;
    display: block;
    padding: 5px 10px;
}

.login{
    position: absolute;
    top: 18px;
    right: 5%;
}

.log_butt{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #00b3b3;
    background: whitesmoke;
    color: #00b3b3;
    border-radius: 15px 0 15px 0;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
}

.log_butt:hover{
    background-color: #00b3b3;
    color: white;
}

/*---------page title------------*/

.page_title{
    font-weight: 600;
    color: whitesmoke;
    position: absolute;
    top: 90px;
    left: 46%;
    transform: scale(0 -50%);
    text-shadow:0px 0px 10px #00b3b3;
    z-index: -1;
}

.page_title_ask{
    font-weight: 600;
    color: whitesmoke;
    position: absolute;
    top: 90px;
    left: 42%;
    transform: scale(0 -50%);
    text-shadow:0px 0px 10px #00b3b3;
    z-index: -1;
}

/*---------content style---------*/
.tags_bar{
    width: 60%;
    height: 25px;
    background-color: whitesmoke;
    position: fixed;
    top: 79px;
    margin-left: -21px;
    padding: 20px;
    border: 1px double #00b3b3;
    border-radius: 20px 0 20px 0;
    /*box-shadow:0px 4px 15px gray;*/
}

.tags{
    position: fixed;
    top: 98px;
    left: 43.5%;
}

.tag{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00b3b3;
    color: #00b3b3;
    border-radius: 15px 0 15px 0;
    padding: 10px;
    margin: -5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-family: monospace, sans-serif;
}

.ask{
    border: none;
    border-radius: 15px 0 15px 0;
    background: #00b3b3;
    padding: 15px;
    position: fixed;
    top: 88px;
    right: 20%;
}

.ask a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.content{
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    margin: 155px auto 20px auto;
    /*border-radius: 20px 0 20px 0;*/
    padding: 20px;
}

.search-box{
    position: fixed;
    top: 88px;
    left: 20%;
    background-color: #00b3b3;
    color: white;
    border-radius: 15px 0 15px 0;
    height: 30px;
    padding: 10px;
    z-index: 10;
}

.search-box:hover > .search-area{
    width: 200px;
    padding: 0 5px;
}

.search-box:hover > .search-btn{
    background: #075757;
    z-index: 10;
}

.search-btn{
    color: white;
    height: 30px;
    width: 30px;
    float: right;
    background: #00b3b3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    z-index: 10;
}

.search-area{
    color: white;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 14px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
    z-index: 10;
}

/*-------about us------*/

.about_title{
    margin: 20px 40px;
}

.title{
    text-decoration: none;
    color: #00b3b3;
    font-weight: 600;
}

.p1, .p2, .p3{
    font-size: 22px;
    margin: 30px 40px;
    text-align: justify;
}

.p4{
    color: #00b3b3;
    text-align: right;
    margin: 50px 40px 10px auto;
}

/*------rules page-------*/

.tou_section h1{
    color: #075757;
    font-weight: 600;
    margin: 10px 20px;
}

.tou_section h2{
    color: #00b3b3;
    margin: auto 10px;
}

.tou_section p{
    text-align: justify;
    font-size: 16px;
    margin: auto 20px;
}

.tou_section ul{
    list-style: none;
}

.gras{
    text-align: left;
}

/*------register and login pages-------*/

.sign {
    width: 70%;
    border-radius: 40px;
    margin: auto;
    text-align: center;
    padding: 50px;
    box-shadow:0px 0px 5px #b8b8b8;
}

.one{
    color: #00b3b3;
    margin: 5px auto 30px auto;
}

.two{
    margin: 10px auto;
}

.input{
    border: none;
    margin: 10px auto;
    padding-left: 10px;
    border-radius: 50px;
    width: 50%;
    height: 30px;
    box-shadow:0px 0px 5px #a1a1a1;
}

.input_text{
    border: none;
    margin: 10px auto;
    padding-left: 10px;
    border-radius: 10px;
    width: 50%;
    height: 120px;
    box-shadow:0px 0px 5px #a1a1a1;
}

.submit_btn{
    font-weight: 600;
    margin: 10px auto;
    padding: 10px;
    width: 150px;
    box-shadow:0px 0px 5px #a1a1a1;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: #075757;
    color: white;
    box-shadow:0px 0px 5px #a1a1a1;
    cursor: pointer;
}

.submit_btn:hover{
    background: #00b3b3;
}

._link{
    font-weight: 600;
    text-decoration: none;
    color: #00b3b3;
    margin: 20px auto 10px auto;
}

.invalid{
    color: red;
    margin: auto;
    padding-left: 10px;
    border-radius: 50px;
    border: none;
    border-radius: 50px;
    width: 50%;
    height: 30px;
    box-shadow:0px 0px 5px #ff0000;
}

span{
    border: none;
    box-shadow: none;
    font-size: small;
    margin: 5px 0;
    color: #ff0000;
}

/*-----profile----*/

.user_image{
    border-radius: 20px 0 20px 0;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

hr{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.legend{
    padding: 2px auto;
    margin: 4px auto 10px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-width: 100%;
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

.info{
   float: right;
   margin-right: 480px;
   margin-top: 20px;
}

.name_mail, .mini_title{
    margin: 10px 10px;
}

.change{
    display: block;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #a1a1a1;
    padding-left: 15px;
    margin: 10px 10px;
}

#section1{
    margin: 0px auto 20px auto;
}

.update_btn{
    font-weight: 600;
    margin: 10px 10px;
    padding: 10px;
    width: 120px;
    box-shadow:0px 0px 5px #a1a1a1;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: #075757;
    color: white;
    box-shadow:0px 0px 5px #a1a1a1;
    cursor: pointer;
}

.pict_up{
    margin-left: 10px;
}

.update_btn:hover{
    background: #00b3b3;
}

/*dashbord*/

.dash_id, .dash_title, .dash_date, .dash_act{
    margin: 0;
    text-align: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #439e9e;
}

tr th{
    text-align: left;
    color: white;
}

tr td a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.dash_id{
    padding: 0 30px;
}

.dash_title{
    padding: 0 250px;
}

.dash_date{
    padding: 0 60px;
}

.dash_act{
    padding: 0 20px;
}

.dash_titles, .dash_ids, .dash_dates{
    text-align: center;
}

.dash_acts{
    text-align: center;
    box-sizing: content-box;
    background-color: #075757;
    border: 1px solid #00b3b3;
    border-radius: 5px;
}

.dash_acts a{
    color: white;
}

/*-----post style--------*/
.post_style{
    width: 100%;
    border: 2px solid #008383;
    margin-left: -19px;
    margin-bottom: 20px;
    border-radius: 20px 0 20px 0;
    padding: 10px 24px 10px 10px;
}

.image_home{
    padding-right: 20px;
    border-right: 2px solid #00b3b3;
    margin: -5px 20px 5px -5px;
    border-radius: 20px 0 20px 0;
    width: 90px;
    height: 90px;
    float: left;
}

.post_style h1{
    font-size: 22px;
    margin-bottom: -20px;
}

.post_style h2{
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 0;
}

.post_style p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: justify;
    width: 95%;
    font-size: 15px;
    margin: 0;
    padding-right: 10px;
}

.post_style small{
    font-size: smaller;
    font-weight: 600;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
    color: #075757;
}

.post_style h1 a{
    text-decoration: none;
    color: #00b3b3;
}
.post_style h2 a{
    text-decoration: none;
    color: black;
}

.link_post{
    text-decoration: none;
    color: black;
}

.post_style hr{
    border: none;
}



/*---------ask question page--------*/
.diff{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: solid #00b3b3;
    font-weight: 600;
}

.label_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: monospace, sans-serif;
}

.question_title{
    width: 400px;
    height: 30px;
    border: 0.5px solid #00b3b3;
    border-radius: 5px 0 5px 0;
    margin-bottom: 10px;
}

.tags-container{
    margin-top: 5px;
    margin-bottom: 10px;
}

.categorys{
    margin-left: -30px;
    margin-top: 5px;
    list-style: none;
    font-weight: 500;
}

.label_description{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: monospace, sans-serif;
}

.post_quest{
    font-family: monospace, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    background: #00b3b3;
    cursor: pointer;
}

.cancel_home{
    font-family: monospace, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    color: whitesmoke;
    background: #075757;
}

.button_post{
    position: relative; 
}

/*------answer----------------*/
.second_answers{
    text-align: center;
}

.answer_style{
    width: 90%;
    border: 1px solid #00b3b3;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px 0 20px 0;
    padding: 10px 24px 10px 10px;
}

.image_home{
    padding-right: 20px;
    border-right: 2px solid #00b3b3;
    margin: -5px 20px 5px -5px;
    border-radius: 20px 0 20px 0;
    width: 90px;
    height: 90px;
    float: left;
}

.answer_style h1{
    font-size: 22px;
    margin-bottom: -20px;
}

.answer_style h2{
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 0;
}

.answer_style p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: justify;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding-right: 5px;
}

.answer_style small{
    font-size: smaller;
    font-weight: 600;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
    color: #075757;
}

.dash{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.tag_cat{
    font-size: smaller;
    font-weight: 600;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
    color: #075757;
}

.answer_style h1 a{
    text-decoration: none;
    color: #00b3b3;
}
.answer_style h2 a{
    text-decoration: none;
    color: black;
}

.link_post{
    text-decoration: none;
    color: black;
}

.splite{
    margin: 10px 0;
    /*margin-left: -20px;*/
    width: 100%;
    border: 1px solid #075757;
}

@media only screen and (max-width: 400px){
    
    .question_title{
        width: 240px;
    }
    .page_title_ask{
        position: absolute;
        top: 90px;
        left: 35%;
    }
    .info{
        float: left;;
        margin-left: 10px;
        margin-top: 10px;
    }

    /*---------header style---------*/

    header{
        height: 50px;
    }

    .logo{
        position: absolute;
        top: 2px;
        left: -5px;
    }

    .name{
        font-size: 22px;
    }

    .name:hover{
        color: #075757;
    }
    
    nav ul{
        padding-left: 20px;
        padding-right: 20px;
        width: 68%;
        border-radius: 20px 20px 0 0;
        background-color: whitesmoke;
        position: absolute;
        top: 55px;
        left: 11%;
    }

    nav ul li{
        display: inline-block;
        padding: 0;
        list-style: none;
        font-size: 14px;
    }

    .nav{
        width: 60px;
        padding: 5px 2px;
    }

    .nav:hover{
        text-align: center;
        background-color: #00b3b3;
        color: whitesmoke;
        border: none;
        border-radius: 20px 0 20px 0;
        display: block;
        padding: 5px 2px;
    }

    .login{
        position: absolute;
        top: 10px;
        right: 2px;
    }

    .log_butt{
        padding: 5px 10px;
        font-size: 14px;
    }
    /*-----tags bar------*/

    .tags_bar{
        border-radius: 20px 20px 0 0;
        width: 70%;
        height: 5px;
        position: fixed;
        top: 83px;
        /*box-shadow:0px 4px 15px gray;*/
    }
    
    .tags{
        position: fixed;
        top: 93px;
        left: 11%;
    }
    
    .tag{
        font-size: 12px;
    }
    
    .ask{
        border-radius: 0 20px 0px 20px;
        padding: 12px;
        position: fixed;
        top: 87px;
        right: 11%;
    }
    
    .ask a{
        font-size: 12px;
    }
    
    .search-box{
        border-radius: 0 0 20px 20px;
        position: fixed;
        top: 132px;
        left: 10%;
        height: 25px;
        padding: 10px;
        z-index: 10;
    }

    .search-box:hover > .search-area{
        width: 275px;
        padding: 0;
    }

    .search-box:hover > .search-btn{
        background: #075757;
        z-index: 10;
    }
    
    .search-btn{
        height: 25px;
        width: 25px;
    }
    
    .search-area{
        width: 275px;
    }

    /*------content-----*/
    .content{
        width: 70%;
        margin: 180px auto 50px auto;
        padding: 20px;
    }

    .page_title{
        font-weight: 600;
        position: absolute;
        top: 118px;
        left: 37%;
    }
    
    /*------register and login pages-------*/
    .sign {
        width: 80%;
        border-radius: 40px;
        margin: auto;
        text-align: center;
        padding: 30px;
        box-shadow:0px 0px 5px #b8b8b8;
    }

    .one{
        color: #00b3b3;
        margin: 5px auto 20px auto;
    }

    .two{
        font-size: 14px;
        margin: auto;
    }

    .input{
        border: none;
        margin: 10px -40px;
        padding-left: 10px;
        border-radius: 50px;
        width: 260px;
    }

    .submit_btn{
        font-weight: 600;
        margin: 10px auto;
        padding: 10px;
        width: 150px;
        box-shadow:0px 0px 5px #a1a1a1;
        border: none;
        border-radius: 50px;
        text-align: center;
        background-color: #075757;
        color: white;
        box-shadow:0px 0px 5px #a1a1a1;
        cursor: pointer;
    }

    .submit_btn:hover{
        background: #00b3b3;
    }

    ._link{
        font-weight: 600;
        text-decoration: none;
        color: #00b3b3;
        margin: 20px auto 10px auto;
    }

    .invalid{
        margin: 0px -40px;
        padding-left: 10px;
        border-radius: 50px;
        width: 260px;
    }

    span{
        border: none;
        box-shadow: none;
        font-size: small;
        margin: 5px 0;
        color: #ff0000;
    }

    /*-------about us------*/

        .about_title{
            margin: 10px 20px;
        }

        .p1, .p2, .p3{
            font-size: 16px;
            margin: 15px 20px;
        }

        .p4{
            font-size: 11px;
            margin: 25px 20px 5px auto;
        }

        /*------rules page-------*/

    .tou_section h1{
        color: #075757;
        font-weight: 600;
        margin: 5px 5px;
    }

    .tou_section h2{
        color: #00b3b3;
        margin: auto 10px;
    }

    .tou_section p{
        text-align: justify;
        font-size: 14px;
        margin: auto 5px;
    }

    .tou_section ul{
        list-style: none;
    }

    .gras{
        text-align: left;
    }

    /*dashbord*/

    .dash_id, .dash_title, .dash_date, .dash_act{
        margin: 0;
        text-align: right;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #439e9e;
    }

    tr th{
        text-align: left;
        color: white;
    }

    tr td a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .dash_id{
        text-align: center;
        padding: 0 2px;
        font-size: 11px;
    }

    .dash_title{
        text-align: center;
        padding: 0 20px;
        font-size: 11px;
    }

    .dash_date{
        text-align: center;
        padding: 0 10px;
        font-size: 11px;
    }

    .dash_act{
        text-align: center;
        padding: 0 5px;
        font-size: 11px;
    }

    .dash_titles, .dash_ids, .dash_dates{
        font-size: 12px;
        text-align: center;
    }

    .dash_acts{
        padding: 2px 2px;
        text-align: center;
        background-color: #075757;
        border: 1px solid #00b3b3;
        border-radius: 5px;
    }

    .dash_acts a{
        color: white;
    }

}